*{
background-color: ;
font-family: 'Secular One', sans-serif;
}

a{
	text-decoration: none;
	border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background:  black;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
}

a:hover{
   background-color: gray;
   color: black;
}