*{



	background: url(octane.jpg); 
	background-size: cover;
    background-attachment: fixed;

}




.micuenta{

	position: relative;
	left: 1300px ;
    bottom:  60px;
    text-decoration: none;



	right: ;
	font-family: 'Secular One', sans-serif;
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background:  grey;
    padding: 1px 2px;
    border-radius: 5px;
    cursor: pointer;
}

.misredes{
	text-decoration: none;
	position: relative;
	left: 1310px ;
    bottom:  60px;


	font-family: 'Secular One', sans-serif;
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background:  grey;
    padding: 1px 2px;
    border-radius: 5px;
    cursor: pointer;
}

.nosotros{
	position: relative;
	left: 1557px ;
    bottom:  88px;
    text-decoration: none;


	font-family: 'Secular One', sans-serif;
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background:  gray;
    padding: 1px 2px;
    border-radius: 5px;
    cursor: pointer;
}

.videoclips{
	text-decoration: none;
	position: relative;
	left: 1670px ;
    bottom:  117px;




	font-family: 'Secular One', sans-serif;
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background:  gray;
    padding: 1px 2px;
    border-radius: 5px;
    cursor: pointer;
}


.micuenta:hover{
	color: black;
	background:white ;
}

.nosotros:hover{
	color: black;
	background:white ;
}

.videoclips:hover{
	color: black;
	background:white ;
}

.misredes:hover{
	color: black;
	background:white ;
}
#copy{
	position: relative;
	top: 650px
}

h1,p{
	color: white;

}
#copy{
	color: red;
}

.iniciodp{
    text-decoration: none;
    position: relative;
    left: 1485px ;
    bottom:  59px;




    font-family: 'Secular One', sans-serif;
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background:  gray;
    padding: 1px 2px;
    border-radius: 5px;
    cursor: pointer;
}

.iniciodp:hover{
    color: black;
    background:white ;
}







